.pic {
	float: right;
	padding: 7px;
	margin: 10px 0 5px 5px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.pic2 {
	float: left;
	padding: 7px;
	margin: 10px 0 5px 5px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.pic h4 {
	text-align: center;
}
.pic2 h4 {
	text-align: center;
}

p {
 	margin-bottom: 20px; 
}
h4{
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-left: 0pt;
	padding-right: 0pt;
}
body {
    background: #333; 
    color: #fc0; 
   }